.flowpage {
    height: 100%;
    display: flex;
    flex: 1;
    flex-flow: column;
    .flowchart {
        flex-grow: 1;
        display: flex;
        flex: 1;
        flex-flow: row;
        flex-direction: row;
        overflow: hidden;
        .chart {
            flex-grow: 3;
            overflow: hidden;
            z-index: 1;
        }
    }
}