.flowpage {
    height: 100%;
    display: flex;
    flex: 1;
    flex-flow: column;
    .flowchart {
        flex-grow: 1;
        display: flex;
        flex: 1;
        flex-flow: row;
        flex-direction: row;
        #panel {
            background-color: $light;
            width: 0px;
            border-left: 2px solid $gray;
            transition: width .4s;
            -webkit-transition: width .4s;
            z-index: 1000;
        }
        .chart {
            flex-grow: 3;
            overflow: hidden;
        }
    }
}