.box {
    position: absolute;
    border: 2px solid $white;
    width: 200px;
    height: 120px;
    border-radius: 4px;
    padding: 12px 0;
    background-color: $white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    > div {
        width: 100%;
        align-items: center;
    }
    .handle {
        text-align: center;
        font-weight: bold;
        cursor: grab;
        cursor: -webkit-grab;
        z-index: 1
    }
    .boxHead {
        display: flex;
        flex-direction: row;
        > div {
            flex: 1;
            &:nth-child(2) {
                cursor: pointer;
                position: absolute;
                right: 4px;
                top: 4px;
                font-size: 12px;
                color: $blue;
            }
        }
    }
    .boxBody {
        display: flex;
        flex-direction: row;
        > div {
            display: flex;
            flex-direction: row;
            flex: 1;
            > div {
                flex: 1
            }
        }
        span {
            color: #999
        }
        .dot {
            position: absolute;
            margin-top: 7px;
            cursor: -webkit-grabbing;
            cursor: grabbing;
        }
        .dotIn {
            left: -7px
        }
        .dotOut {
            right: -7px
        }
        .val {
            margin: 6px 10px 0px 10px;
        }
        .boxOut {
            text-align: right;
        }
        svg {
            height: 12px;
            width: 12px;
            circle {
                fill: $white;
                stroke-width: 2px;
            }
        }
    }
    .boxFooter {
        text-align: center;
        input {
            max-width: 90px;
            border: none;
            border: solid 1px $gray;
            border-radius: 4px;
            padding: 5px;
            &:hover {
                border: 1px solid darken($gray, 9);
            }
        }
    }
}

.selected {
    border: 2px solid $blue;
    position: absolute;
    z-index: 100;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
}