.footer {
    height: 54px;
    padding: 0 10px;
    z-index: 1000;
    ul {
        display: flex;
        align-items: center;
        > li {
            padding: 0 10px;
        }
        li:nth-child(2) {
            margin-right: auto;
        }
        .active {
            color: $dark;
        }
    }
}